<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserDao">
	<select id="queryAll" resultType="domain.User" >
		select * from user;
	</select>
	<select id="queryUser" resultType="domain.User">
		select * from user where username=#{username};
	</select>
	<select id="login" resultType="domain.User">
		select * from user where username=#{username} and password=#{password};
	</select>
	<insert id="addUser">
		insert into user values(null,#{username},#{password},#{nickname},#{email});
	</insert>
	<select id="query" resultType="domain.User">
		select * from user
		<where>
			<if test="id!=0"> id = #{id}</if>
			<if test="username!=null">and username = #{username}</if>
			<if test="password!=null">and password = #{password}</if>
			<if test="nickname!=null">and nickname = #{nickname}</if>
			<if test="email!=null"> and email = #{email}</if>
		</where>
	</select>
	<insert id="insertUser">
		insert into user values(null,#{username},#{password},#{nickname},#{email});
	</insert>
	


</mapper>
